<div id="bottom" class="">
  <div class="container">
    <div class="row">
      <div class="col s12 m6 bottom-left">
        <h5>
          540 Thompson Drive Unit B<br>
          Cambridge, ON N1T 2K8
        </h5>
        <h5>Open Mon-Fri, 7am-5pm</h5>
      </div>

      <div class="col s12 m5 offset-m1">
        <div class="row">
          <div class="col">
            <h5>A division of</h5>
          </div>
          <div class="col center-align">
            <a href="http://thheating.ca" target="_blank"><img src="assets/images/footer/thheating.png" /></a>
          </div>
        </div>
      </div>

      <div class="center-align">
        <h5>Copyright &copy; Total Duct Solutions 2016</h5>
      </div>
    </div>
  </div>
</div>
