<md-dialog ng-controller="FittingsController" flex="80" id="modal1" aria-label="Standard Fittings List Modal" >
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Standard Fittings List</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon>clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <ul id="info-slider" rn-carousel rn-carousel-controls >
        <li ng-repeat="fitting in fittings">
          <img src="{{fitting.source}}" alt="{{fitting.alt}}"/>
        </li>
        <div id="info-indicators" rn-carousel-indicators ng-if="slides.length > 1" slides="slides" rn-carousel-index="carouselIndex"></div>
      </ul>
    </md-dialog-content>
</md-dialog>
