@import url(https://fonts.googleapis.com/css?family=Inconsolata);

$font-stack: Inconsolata, sans-serif;

body {
  font-family: $font-stack;
}

.clearfix {
  clear: both;
}

.material-icons {
  line-height: inherit;
}

md-backdrop.md-opaque {
  opacity: 0.88!important;
}

@import "elements/navbar";
@import "elements/callout";
@import "elements/info";
@import "elements/third";
@import "elements/bottom";
@import "elements/modals";
