<div id="callout">
  <!-- <div class="parallax-container">
    <div class="parallax"><img src="assets/images/sections/image1.jpg"></div>
  </div> -->
  <div class="container">
    <div class="row">
      <div class="col hide-on-med-and-down m12 l6">
        <img src="assets/images/logo.png" alt="" height="200" />
      </div>

      <div class="col s10 offset-s1 m10 offset-m1 l6">
        <div class="card-panel center-align">
          <h5>Your local sheet metal fabrication shop to fit any custom HVAC needs</h5>
        </div>
      </div>
    </div>

  </div>
</div>
