<div id="info" class="section">
  <div class="container">
    <div class="slider">
      <ul class="slides">
        <li>
          <div class="caption left-align">
            <h4>We are able to fulfill any of you custom HVAC needs. Download the fitting list PDF below for a complete list of our common duct fittings.</h4>
          </div>
        </li>
        <li>
          <div class="caption left-align">
            <h4>We are able to fulfill any of you custom HVAC needs. Download the fitting list PDF below for a complete list of our common duct fittings.</h4>
          </div>
        </li>
        <li>
          <div class="caption left-align">
            <h4>We are able to fulfill any of you custom HVAC needs. Download the fitting list PDF below for a complete list of our common duct fittings.</h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
