@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
body {
  font-family: Inconsolata, sans-serif; }

.clearfix {
  clear: both; }

.material-icons {
  line-height: inherit; }

md-backdrop.md-opaque {
  opacity: 0.88 !important; }

/*
  NAVBAR STYLING
  ==============
  The following contains the styling for the navbar. This is all contained
  within a partial sass file that is compiled into CSS then minified for
  production.
*/
#navbar {
  z-index: 100; }
  @media screen and (min-width: 768px) {
    #navbar.navbar-fixed {
      height: 70px !important; }
    #navbar nav {
      background-color: #BFBEBE;
      height: 70px !important; }
    #navbar img {
      height: 50px !important;
      line-height: 70px;
      vertical-align: middle; } }
  @media screen and (max-width: 767px) {
    #navbar.navbar-fixed {
      height: 64px !important; }
    #navbar nav {
      background-color: #BFBEBE;
      height: 64px !important; }
    #navbar img {
      height: 62px !important;
      padding-top: 2px;
      padding-bottom: 2px; } }
  #navbar #nav-buttons {
    display: -webkit-flex;
    -webkit-flex-flow: wrap;
    display: flex;
    flex-direction: column; }
    #navbar #nav-buttons #nav-badge span {
      margin-right: 100px;
      color: #D0021B; }
    #navbar #nav-buttons .nav-btn button {
      color: #495EC5;
      font-weight: bold; }
    #navbar #nav-buttons .nav-btn .md-raised {
      color: white !important;
      background-color: #495EC5 !important; }

#callout {
  background-image: url("../images/sections/image1.jpg");
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 450px;
  position: relative; }
  #callout .container {
    padding-top: 112px; }
    #callout .container .card-panel {
      background-color: rgba(216, 216, 216, 0.85); }
      #callout .container .card-panel h5 {
        line-height: 150%; }

/*

*/
#info {
  background-color: #495EC5;
  /*
    Font and height settings for the content in the info section
  */ }
  #info .info-btn {
    background-color: #D0021B;
    margin-left: 2px !important;
    margin-top: 12px !important; }
  #info .row {
    margin-bottom: 0px !important; }
  @media screen and (max-width: 375px) {
    #info ul {
      height: 400px;
      left: 5%;
      width: 90%; }
      #info ul li {
        vertical-align: middle; }
        #info ul li h4 {
          color: white;
          line-height: 200%;
          font-size: 1.5rem; }
    #info .rn-carousel-control-prev {
      position: relative;
      bottom: 150px;
      margin-left: -20px;
      padding: 0px;
      float: left;
      box-sizing: border-box; }
      #info .rn-carousel-control-prev::before {
        content: "❮" !important;
        color: white; }
    #info .rn-carousel-control-next {
      position: relative;
      bottom: 150px;
      margin-left: 100%;
      padding: 0px;
      float: left;
      box-sizing: border-box; }
      #info .rn-carousel-control-next::before {
        content: "❯" !important;
        color: white; } }
  @media screen and (min-width: 375px) and (max-width: 500px) {
    #info ul {
      height: 350px;
      left: 5%;
      width: 90%; }
      #info ul li {
        vertical-align: middle; }
        #info ul li h4 {
          color: white;
          line-height: 200%;
          font-size: 1.5rem; }
    #info .rn-carousel-control-prev {
      position: relative;
      bottom: 150px;
      margin-left: -20px;
      padding: 0px;
      float: left;
      box-sizing: border-box; }
      #info .rn-carousel-control-prev::before {
        content: "❮" !important;
        color: white; }
    #info .rn-carousel-control-next {
      position: relative;
      bottom: 150px;
      margin-left: 100%;
      padding: 0px;
      float: left;
      box-sizing: border-box; }
      #info .rn-carousel-control-next::before {
        content: "❯" !important;
        color: white; } }
  @media screen and (min-width: 501px) {
    #info ul {
      height: 310px;
      left: 5%;
      width: 90%; }
      #info ul li {
        vertical-align: middle; }
        #info ul li h4 {
          color: white;
          line-height: 200%;
          font-size: 1.8rem; }
    #info .rn-carousel-control-prev {
      position: relative;
      bottom: 150px;
      margin-left: -20px;
      padding: 0px;
      float: left;
      box-sizing: border-box; }
      #info .rn-carousel-control-prev::before {
        content: "❮" !important;
        color: white; }
    #info .rn-carousel-control-next {
      position: relative;
      bottom: 150px;
      margin-left: 100%;
      padding: 0px;
      float: left;
      box-sizing: border-box; }
      #info .rn-carousel-control-next::before {
        content: "❯" !important;
        color: white; } }
  #info #info-indicators {
    text-align: center; }

#third {
  background-image: url("../images/sections/image2.jpg");
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 450px;
  position: relative; }

#bottom {
  background-color: #BFBEBE; }
  #bottom .row {
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px; }
  #bottom img {
    height: 70px; }

#emailModal {
  /*
    EMAIL ATTACHMENT PANEL
  */ }
  #emailModal input:not([type]):focus:not([readonly]), #emailModal input[type=tel]:focus:not([readonly]), #emailModal textarea:focus:not([readonly]) {
    border-bottom: 1px solid #5E0400 !important;
    box-shadow: 0 1px 0 0 #5E0400 !important; }
  #emailModal input:not([type]), #emailModal input[type=tel], #emailModal textarea {
    border-bottom: 1px solid #495EC5; }
  #emailModal .md-errors-spacer {
    min-height: 12px !important; }
  #emailModal .red-margin {
    margin-top: 10px !important;
    margin-bottom: 10px !important; }
  #emailModal .telephone {
    padding-right: 1.5em; }
  #emailModal .hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: #3b3b3b; }
    #emailModal .hint.ng-hide, #emailModal .hint.ng-enter, #emailModal .hint.ng-leave.ng-leave-active {
      bottom: 26px;
      opacity: 0; }
    #emailModal .hint.ng-leave, #emailModal .hint.ng-enter.ng-enter-active {
      bottom: 7px;
      opacity: 1; }
  #emailModal label {
    color: black;
    font-size: 16px; }
  #emailModal #email-attachment button {
    background-color: #BFBEBE; }
  #emailModal .card-content {
    padding: 0px !important;
    border-radius: 0 0 0 0 !important; }
  #emailModal #attachment.card-reveal {
    padding: 0px !important; }
    #emailModal #attachment.card-reveal #panel-header {
      padding: 16px;
      padding-top: 0px;
      padding-bottom: 0px;
      max-height: 64px; }
      #emailModal #attachment.card-reveal #panel-header.row .col {
        padding: 0px;
        padding-top: 6px;
        line-height: 48px; }
        #emailModal #attachment.card-reveal #panel-header.row .col.panel-title {
          font-size: 24px;
          line-height: 48px; }
        #emailModal #attachment.card-reveal #panel-header.row .col #panel-close {
          margin-right: -8px; }
    #emailModal #attachment.card-reveal section.droplet droplet {
      display: inline-block;
      z-index: 2;
      position: relative;
      border-radius: 2px;
      width: 95%;
      height: 350px;
      background-color: rgba(0, 0, 0, 0.1);
      margin-top: -5px;
      padding-top: 5px;
      margin-left: 2.5%;
      transition: box-shadow 0.35s; }
      #emailModal #attachment.card-reveal section.droplet droplet comment:after {
        content: "Drop attachments here";
        width: 100%;
        height: 100%;
        pointer-events: none;
        display: inline-block;
        position: absolute;
        z-index: -1;
        color: #495EC5;
        text-decoration: none;
        font-weight: normal;
        font-size: 20px;
        line-height: 100%;
        vertical-align: bottom;
        text-align: center; }
      #emailModal #attachment.card-reveal section.droplet droplet.event-dragover comment:after {
        content: "Attaching..."; }
      #emailModal #attachment.card-reveal section.droplet droplet ul.files {
        padding-top: 20px;
        padding-left: 6px;
        padding-right: 6px;
        align-items: center; }
        #emailModal #attachment.card-reveal section.droplet droplet ul.files li {
          width: 100px;
          height: 110px;
          padding: 1px;
          float: left;
          position: relative;
          margin: 5px; }
          #emailModal #attachment.card-reveal section.droplet droplet ul.files li .droplet-preview {
            max-width: 100px;
            background-size: cover;
            background-repeat: no-repeat;
            height: 100px;
            width: 100px;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
            border: 1px solid white;
            display: block; }
          #emailModal #attachment.card-reveal section.droplet droplet ul.files li div.delete {
            background-color: rgba(0, 0, 0, 0.25);
            width: 50px;
            height: 50px;
            font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
            color: white;
            font-size: 25px;
            text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
            text-align: center;
            cursor: pointer;
            line-height: 50px;
            position: absolute;
            border-radius: 50%;
            z-index: 101;
            top: 25px;
            left: 25px;
            opacity: 0;
            transition: all .30s;
            transform: scale(0.5); }
            #emailModal #attachment.card-reveal section.droplet droplet ul.files li div.delete:hover {
              background-color: rgba(0, 0, 0, 0.45); }
          #emailModal #attachment.card-reveal section.droplet droplet ul.files li div.size {
            background-color: rgba(255, 255, 255, 0.5);
            position: absolute;
            bottom: 10px;
            right: 1px;
            pointer-events: none;
            font-size: 10px; }
          #emailModal #attachment.card-reveal section.droplet droplet ul.files li div.filename {
            font-size: 10px; }
        #emailModal #attachment.card-reveal section.droplet droplet ul.files:hover div.delete {
          opacity: 1;
          transform: scale(1); }
  #emailModal section.container {
    width: 100%;
    margin: auto;
    display: table-cell;
    vertical-align: middle; }
  #emailModal section.container section.droplet {
    width: 670px;
    margin: auto;
    text-align: left;
    position: relative; }
  #emailModal section.container section.droplet h1 a {
    font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size: 40px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25); }
  #emailModal section.container section.droplet ul.statistics {
    list-style-type: none;
    overflow: hidden; }
  #emailModal section.container section.droplet ul.statistics li {
    float: left;
    overflow: hidden;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
    margin: 10px 5px 10px 0;
    color: white;
    font-family: Times New Roman, Times, serif;
    font-size: 11px;
    font-style: italic;
    padding: 1px;
    display: inline-block;
    border-radius: 2px; }
  #emailModal section.container section.droplet ul.statistics li label {
    color: rgba(255, 255, 255, 0.5); }
  #emailModal section.container section.droplet droplet {
    display: inline-block;
    z-index: 2;
    position: relative;
    border-radius: 2px;
    width: 100%;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: -5px;
    padding-top: 5px;
    transition: box-shadow 0.35s; }
  #emailModal section.container section.droplet droplet div.loading {
    display: block;
    height: 200px;
    width: 670px;
    margin: 1px;
    margin-top: 6px;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .35s; }
  #emailModal section.container section.droplet droplet div.loading.visible {
    opacity: 1; }
  #emailModal section.container section.droplet droplet.event-dragover {
    box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.25), inset 0 0 5px rgba(255, 255, 255, 0.25); }
  #emailModal section.container section.droplet droplet comment:after {
    content: "Drag Image...";
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: inline-block;
    position: absolute;
    z-index: -1;
    font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
    color: blue;
    text-decoration: none;
    font-weight: normal;
    font-size: 20px;
    line-height: 400px;
    text-align: center; }
  #emailModal section.container section.droplet droplet.event-dragover comment:after {
    content: "...And Drop!"; }
  #emailModal section.container section.droplet droplet ul.files {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 5px;
    list-style-type: none;
    transition: all .5s; }
  #emailModal section.container section.droplet.uploading droplet ul.files {
    opacity: .25;
    filter: blur(2px);
    -o-filter: blur(2px);
    -moz-filter: blur(2px);
    -webkit-filter: blur(2px);
    pointer-events: none; }
  #emailModal section.container section.droplet droplet ul.files li {
    width: 100px;
    height: 100px;
    padding: 1px;
    float: left;
    position: relative;
    margin: 5px; }
  #emailModal section.container section.droplet droplet ul.files li img.droplet-preview {
    max-width: 96px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 96px;
    width: 96px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border: 1px solid white;
    display: block; }
  #emailModal section.container section.droplet droplet ul.files li div.delete {
    background-color: rgba(0, 0, 0, 0.25);
    width: 50px;
    height: 50px;
    font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
    cursor: pointer;
    line-height: 50px;
    position: absolute;
    border-radius: 50%;
    z-index: 101;
    top: 25px;
    left: 25px;
    opacity: 0;
    transition: all .30s;
    transform: scale(0.5); }
  #emailModal section.container section.droplet droplet ul.files li:hover div.delete {
    opacity: 1;
    transform: scale(1); }
  #emailModal section.container section.droplet droplet ul.files li div.delete:hover {
    background-color: rgba(0, 0, 0, 0.45); }
  #emailModal section.container section.droplet droplet ul.files li div.size {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 5px;
    right: 5px;
    pointer-events: none;
    font-size: 9px;
    font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
    padding: 1px 4px; }
  #emailModal section.container section.droplet section.message {
    position: absolute;
    background-color: deepskyblue;
    z-index: 2001;
    width: 100%;
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
    font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
    font-size: 12px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    transition: all .55s;
    padding: 0 12px 0 12px;
    top: -10px;
    cursor: pointer; }
  #emailModal section.container section.droplet section.message.visible {
    padding: 15px 12px 10px 12px;
    top: 0; }
  #emailModal section.container section.droplet section.message.success {
    background: linear-gradient(to bottom, #70b0e0 0%, #88bfe8 100%); }
  #emailModal section.container section.droplet section.message.error {
    background: linear-gradient(to bottom, #ce6784 0%, #cc768d 100%); }
  #emailModal section.container section.droplet section.toolbar {
    margin-top: 5px;
    overflow: hidden;
    position: relative;
    z-index: 3;
    height: 25px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to bottom, #ededed 0%, #dedede 100%); }
  #emailModal section.container section.droplet section.toolbar .button {
    display: inline-block;
    background-color: transparent;
    float: left;
    overflow: hidden;
    width: 100px;
    height: 100%;
    border: 0;
    cursor: pointer;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    transition: all 0.25s; }
  #emailModal section.container section.droplet section.toolbar .button:hover {
    background-color: rgba(0, 0, 0, 0.1); }
  #emailModal section.container section.droplet section.toolbar div.add-files {
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative; }
  #emailModal section.container section.droplet section.toolbar div.add-files input.droplet-multiple {
    position: absolute;
    top: -10px;
    font-size: 28px;
    left: -90px;
    z-index: 1001;
    opacity: 0.0001;
    cursor: pointer; }
  #emailModal section.container section.droplet section.toolbar div.add-files:hover input.add-files {
    background-color: rgba(0, 0, 0, 0.1); }
  #emailModal section.container section.droplet section.toolbar input.upload-files {
    transition: background-color 0.25s;
    outline: none;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.15); }
  #emailModal section.container section.droplet section.toolbar input.upload-files.clickable {
    pointer-events: all;
    color: rgba(0, 0, 0, 0.75); }
  #emailModal section.container section.droplet section.toolbar comment.progress {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    float: right;
    overflow: hidden;
    font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.35);
    font-size: 11px;
    padding: 0 8px;
    margin-right: -60px;
    opacity: 0;
    transition: all 0.55s; }
  #emailModal section.container section.droplet section.toolbar comment.progress.visible {
    margin-right: 0;
    opacity: 1; }
  #emailModal section.container section.droplet input.droplet-multiple {
    color: white;
    margin-top: 5px; }

/*# sourceMappingURL=styles.css.map */
