#carousel {
  // height: 500px;
  // width: 100%;
  background-image: url('../images/sections/image2.jpg');
  // background-image: url('../images/svg/image1.svg');
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 450px;
  position: relative;
}
