#info {
  background-color: #495EC5;

  .slider .slides {
    background-color: rgba(0,0,0,0);

    li, & .caption {
      left: 5%;
      width: 90%;
      opacity: 1;

      h4 {
        line-height: 160%;
      }
    }
  }
}
