/*

*/

#info {
  background-color: #495EC5;

  .info-btn {
    background-color: #D0021B;
    margin-left: 2px !important;
    margin-top: 12px !important;
  }

  .row {
    margin-bottom: 0px !important;
  }

  /*
    Font and height settings for the content in the info section
  */

  // Smaller screen sizes
  @media screen and (max-width: 500px) {
    ul {
      height: 500px;
      left: 5%;
      width: 90%;

      li {
        vertical-align: middle;

        h4 {
          color: white;
          line-height: 200%;
          font-size: 1.5rem;
        }
      }
    }
  }

  // Larger screen sizes
  @media screen and (min-width: 501px) {
    ul {
      height: 400px;
      left: 5%;
      width: 90%;

      li {
        vertical-align: middle;

        h4 {
          color: white;
          line-height: 200%;
          font-size: 1.8rem;
        }
      }
    }
  }

  #info-indicators {
    text-align: center;
  }

  .rn-carousel-control-prev {
    position: relative;
    bottom: 230px;
    margin-left: -20px;
    padding: 0px;
    float: left;
    box-sizing: border-box;

    &::before {
      content: "❮" !important;
      color: white;
    }
  }

  .rn-carousel-control-next {
    position: relative;
    bottom: 230px;
    margin-left: 100%;
    padding: 0px;
    float: left;
    box-sizing: border-box;

    &::before {
      content: "❯" !important;
      color: white;
    }
  }
}
