/*
  NAVBAR STYLING
  ==============
  The following contains the styling for the navbar. This is all contained
  within a partial sass file that is compiled into CSS then minified for
  production.
*/
#navbar {
  z-index: 100;
  // Navbar styling for bigger screens
  @media screen and (min-width: 768px) {
    &.navbar-fixed {
      height: 70px !important;
    }

    nav {
      background-color: #BFBEBE;
      height: 70px !important;
    }

    img {
    	height: 50px !important;
      line-height: 70px;
      vertical-align: middle;
    	// padding-top: 2px;
    	// padding-bottom: 2px;
    }
  }

  // Navbar styling for smaller screens
  @media screen and (max-width: 767px) {
    &.navbar-fixed {
      height: 64px !important;
    }

    nav {
      background-color: #BFBEBE;
      height: 64px !important;
    }

    img {
    	height: 62px !important;
    	padding-top: 2px;
    	padding-bottom: 2px;
    }
  }

  #nav-buttons {
    display: -webkit-flex;
    -webkit-flex-flow: wrap;
    display: flex;
    flex-direction: column;

    #nav-badge span {
      margin-right: 100px;
      color: #D0021B;
    }

    .nav-btn {
      button {
        color: #495EC5;
        font-weight: bold;
      }

      .md-raised {
        // text-transform: none;
        color: white !important;
        background-color: #495EC5 !important;
        // color: #495EC5 !important;
        // background-color: white;
      }
    }
  }
}
